body{
	background-image: url('bg.png');
}

#info_img{
	border: solid 5px black;
	border-radius: 25px;
	width: 800px;
	height: 100px;
	background-image: url('info_img.jpg');
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-style: dotted;
}

a{
	color: white;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#Header{
	border: solid 5px black;
	border-radius: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	background-color: #690040;
}

h3{
	color: #f5edfe;
	font-size: 40px;
	font-family: 'Bangers', cursive;
}

p{
	color: white;
	font-family: "Verdana";
	font-weight: bold;
}

h1{
	font-size: 60px;
	font-family: 'Bangers', cursive;
	color: #f5edfe;
	font-weight: bold;
}


#Content{
	border: solid 5px black;
	border-radius: 25px;
	width: 500px;
	text-align: center;
	padding: 15px;
	background-color: #690040;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#Footer{
	border: solid 5px black;
	border-radius: 25px;
	width: 800px;
	text-align: center;
	background-color: #690040;
	margin-left: auto;
	margin-right: auto;
	color: #f5edfe;
	margin-bottom: 10px;
}

#logo{
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 50px;
	margin-left: 30px;
}

#logo2{
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

#form {
	font-family: "Arial";
}

input {
	padding-bottom: 6px;
	margin: 10px;
}

button {
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
}